@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #15051a;
  /* background-color: purple; */
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
